@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Playwrite+NZ+Basic+Guides&display=swap');

* {
    background: #f8bdf7;}
 h1 {
    color: #551e54;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    text-shadow: 5px 5px 5px #f8f8f8;
}

p {
    color: blue;
    font-size: 100%;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 20px;
    text-decoration: capitalize;
}
